.width75{
	width:75% !important;
}
.pinkbtn{
	background: #fe2759 !important;
    border: 1px solid #fe2759 !important;
    color: #fff !important;
}
.authbox{
	    padding: 75px 25px !important;
}
.anchorlink{
	color: #fe2759;
	text-decoration: underline;
}
a.viewanchor {
    font-weight: 600;
    text-decoration: underline;
    color: #696969;
}
.viewed {
    padding: 2px 10px;
    border-radius: 2px;
    background: #2c2f91;
    color: #fff;
    cursor: pointer;
}
.viewed:hover {
    padding: 2px 10px;
    border-radius: 2px;
    background: #2c2f91;
    color: #fff;
    cursor: pointer;
}
.unviewed{
	    padding: 2px 10px;
    border-radius: 2px;
    background: #fe2759;
    color: #fff;
    cursor: pointer;
}
.unviewed:hover{
        padding: 2px 10px;
    border-radius: 2px;
    background: #fe2759;
    color: #fff;
    cursor: pointer;
}
.floatright{
	float: right !important;
}
.statscontent{
	line-height: 15px !important;
    font-size: 20px !important;
}
.boxtitle{
    font-size: 13px !important;
    line-height: 18px !important;
}
#page-wrapper{
    min-height: 1755px !important;
}
.slotsection {
        border: 1px solid #efe0e0;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}
.pointer{
    cursor: pointer;
}
.nopadding{
    padding:0px !important;
}
.slottiming{
        margin-bottom: 0px;
    font-size: 12px;
}
.fw500{
        font-weight: 500;
}
a.bannerimage {
    background-image: url(../images/servicebanner.jpg) !important;
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
.updatecoverpic{
        margin-top: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.66);
    border: 1px solid rgba(0, 0, 0, 0.66);
}
img.photosthumb {
        width: 100%;
    height: 74px;
}
.uploadimages {
    border: 2px dashed #d0cccc;
    height: 153px;
}
p.uploadimgtext {
    font-size: 18px;
}
.f30{
    font-size: 30px !important;
}
p.addserviceheading {
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px !important;
}
.savebtn {
    padding: 5px 10px;
    border: 1px solid #fe2759;
    background: #fe2759;
    color: #fff;
    font-weight: 500;
    float: right;
}
.savebtn:hover{
    color: #fff;

}
.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus{
    border-bottom: 1px solid #e5e5e5;
}
.checkboxlabel{
    font-size: 16px !important;
}
.width100{
    width:100%;
}
.white-box{
        padding: 20px 25px 25px 25px !important;
}
.bootstrap-tagsinput {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
span.tag.label.label-info {
    background: #fe2759 !important;
}
a.plusicon {
    float: right;
    padding: 11px 13px;
    background: #fe2759;
    color: #fff;
    font-weight: 900;
    border-radius: 50px;
    margin-top: 11px;
}
.jq-toast-wrap.top-right{
    display: none !important;
}
.detailedviewiframe{
        width: 100% !important;
    border: 1px solid #fff !important;
        height: 1200px !important;
}
/*MULTIPLE IMAGE UPLOAD STARTS HERE*/

.drop-zone {
    /*width: 205px !important;*/
    height: 190px !important;
    border: 2px dashed #adb7be !important;
    text-align: center !important;
    padding: 25px 0 0 !important;
}

.drop-zone .font-icon {
    line-height: 60px;
    color: #919fa9;
    font-size: 2.75rem;
}

button.btn.btn-success.btn-block a {
    color: #fff;
}

.imgupload-btn {
    border: 1px solid #fe2759;
    background: #fe2759;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
}

.imgupload-btn:active {
    border: 1px solid #fe2759;
    background: #fe2759;
}

.imgupload-btn:hover {
    border: 1px solid #fe2759;
    background: #fe2759;
    color: #fff;
}

.btn-rounded {
    border-radius: 10em !important;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.home-list-pop img {
    width: 100%;
}


.btn-file input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    /*height: auto;*/
    height: 30px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.btn_txt {
    color: #ffffff;
}

.drop-zone .font-icon {
    line-height: 60px !important;
    color: #919fa9;
    font-size: 2.75rem;
}

.drop-zone .drop-zone-caption {
   font-size: 2rem;
    font-weight: 400;
    color: #313131;
    margin: 0 0 2rem;
    letter-spacing: 0px !important;
}

.upload_icon {
    line-height: 60px !important;
    color: #919fa9;
    font-size: 3.75rem;
    /*my css*/
}




/*SHOW IMAGES SECTION*/

.dottedborder {
    padding: 10px;
    padding-top: 3px !important;
    border: 2px dashed #adb7be;
    height: 190px;
    overflow-y: scroll;
    overflow-x: hidden;
}




/*SHOW IMAGES SECTION*/


/*IMAGES HOVER CSS STARTS HERE*/

.itemsContainer {
    /* background:red; */
    float: left;
    position: relative
}

.itemsContainer:hover .play {
    display: block
}

.width50 {
    width: 50%;
}

.play {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 35%;
    width: 30px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.image_mt10 {
    margin: 5px 10px;
}



.itemsContainer:hover .image {
    opacity: 0.3;
}

.itemsContainer:hover .middle {
    opacity: 1;
}

.plr5 {
    padding: 10px 0px !important;
}

.prtm-main .prtm-sidebar-back {
    background-color: rgb(64, 69, 87) !important;
}

.mlr-3 {
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.prtm-header .navbar-header {
    padding-right: 8px !important;
}
.w60p{
    width: 60% !important;
}



/*IMAGES HOVER CSS ENDS HERE*/


/*MULTIPLE IMAGE UPLOAD ENDS HERE*/
/*VERTICALLY CENTERING MODALS STARTS HERE*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*VERTICALLY CENTERING MODALS ENDS HERE*/
span.text-muted {
    margin-top: 10px;
}
.acctstats {
    font-size: 25px !important;
    font-weight: 500 !important;
    color: #f0555e !important;
}
.cleared {
    background: #f0555e !important;
    border: 1px solid #f0555e;
    color: #fff !important;
    font-size: 11px !important;
    pointer-events: none !important;
}
.uncleared {
    border: 1px solid #f0555e;
    color: #f0555e;
    font-size: 11px !important;
    pointer-events: none !important;
    background: #fff;
}
.borderrightline{
        border-right: 1px solid #edeff0;
}
span.clearancespan {
    color: #fe2759;
    font-weight: 400;
}
.floatbutton{
        position: fixed;
    right: 10px;
    bottom: 10px;
}
.freelancerimage{
    display: block;
    height: 200px;
    background-position: center center;
    background-size: cover;
}
.categoryicon{
        width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
}
.categoryicon i{
    line-height: 40px;
}
.lh40{
    line-height: 40px !important;
}
.roundbutton {
    background: #fe2759;
        padding: 12px 14px 12px 12px;
    border-radius: 50px;
}
.roundbutton i{
    color: #fff !important;
}
.selectvendor{
    width: 100%;
    height: 36px;
    border: 1px solid #e4e7ea;
    border-radius: 3px;
    padding: 0px 8px;
}
.descriptionfield{
        border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
}