/*success and error snackbar shows here*/

#snackbarsuccs {
    visibility: hidden;
    min-width: 250px;
    background-color: #27e62e;
    color: #fff;
    /*text-align: center;*/
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100000;
    /*left: 41%;*/
    right: 30px;
    bottom: 30px;
    bottom: 30px;
    font-size: 16px;
}

#snackbarsuccs.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}





/* The snackbar failure - position it at the bottom and in the middle of the screen */

#snackbarerror {
    visibility: hidden;
    min-width: 250px;
    background-color: #fe2759;
    color: #fff;
    /*text-align: center;*/
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100000;
    /*left: 41%;*/
    right: 30px;
    bottom: 30px;
    bottom: 30px;
    font-size: 16px;
}

#snackbarerror.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.btnldr {
    font-size: 1.6em !important;
    margin-top: -5px;
}

.cptr {
    cursor: pointer;
}

.iserror {
    border: 2px solid #ff2759 !important;
}


.uppercase {
    text-transform: uppercase !important;
}

.nodata_tb {
    text-align: center !important;
    font-size: 18px;
    color: red;
    margin-top: 20px;
}

.restapproved {
    color: green;
    font-weight: 600;
}

.restdisapproved {
    color: red;
    font-weight: 600;
}

.appendimg {
    width: 100% !important;
    height: 77px !important;
}

.h150 {
    height: 150px !important;
}

.filename {
    font-size: 9px;
    font-weight: 600;
}

.notificationdesc {
    height: 70px !important;
    overflow-y: scroll !important;
}

.sampleimgincustomorders {

    width: 25% !important;
    height: 10% !important;
    text-align: center;
}

.classdisable {
    background: #f6a14c !important;
}

.fa-spin {
    font-size: 14px;
}

.wishtrue {
    color: red;
}

.sparkle {
    background-image: url('sparkle.gif');
    background-size: 15px 21px;
    background-repeat: no-repeat;
}


/*//my css starts here*/

.classnodata {
    color: #ff2759;
    font-weight: 600;
    font-size: 20px;
}

.scrollclass {
    overflow-y: auto;
    height: 450px;
}

.colorclassactive {
    background-color: #efcad3 !important;
}